package ${package.Mapper};

import ${package.ServiceImpl}.${entity}Dto;
import ${package.Entity}.${entity};
import ${superMapperClassPackage};

import java.util.Map;

import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {

	public IPage<Map<String, Object>> selectByPage(Page<?> page, ${entity}Dto dto);
}
#end
